<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <table>
      <th>
        <tr><th></th><th>やること</th><th>期限</th><th>優先度</th></tr>
      </th>
    <% todoList.forEach(function(todo) { %>
      <tr>
        <form action="/<%= todo._id %>" method="post">
          <td class="checkbox"><input type="checkbox" name="check"></td>
          <td><input type="text" name="text" value="<%= todo.text %>" size="42" maxlength="100" required></td>
          <td><input type="datetime-local" name="todoDate" value="<%= moment(todo.todoDate).format('YYYY-MM-DDThh:mm') %>"></td>
          <td>
            <select name="priority" onchange="submit(this.form)">
              <% for (let i = 1; i <= 3; i++) { %>
                <% if (i === todo.priority) { %>
                  <option value="<%- i %>" selected><%- i %></option>
                <% } else { %>
                  <option value="<%- i %>"><%- i %></option>
                <% } %>
              <% } %>
            </select>
          </td>
        </form>
      </tr>
    <% }); %>
      <tr>
        <form action="/" method="post">
          <td></td>
          <td><input type="text" name="text" size="42" maxlength="100" required></td>
          <td><input type="datetime-local" name="todoDate"></td>
          <td>
            <select name="priority">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </td>
        </form>
      </tr>
    </table>
    <script type="text/javascript">
      $(function() {

      });
    </script>
  </body>
</html>
