<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div class="todoList">
      <div class="display-hide">
        <p class="display-btn" id="display-hide-btn">完了済表示</p>
      </div>
      <div class="list-header">
        <div class="list-header-item"></div>
        <div class="list-header-item">やること</div>
        <div class="list-header-item">期限</div>
        <div class="list-header-item">優先度</div>
      </div>
    <% todoList.forEach(function(todo) { %>
      <% if (todo.status) { %>
        <form action="/<%= todo._id %>" method="post" name="todo-list">
      <% } else { %>
        <form action="/<%= todo._id %>" method="post" class="checked hidden" name="todo-list">
      <% } %>
        <div class="checkbox"></div>
        <div><input type="text" name="text" value="<%= todo.text %>" size="42" maxlength="100" required></div>
        <div>
        <% if (todo.todoDate != null) { %>
          <input type="text" name="todoDate" value="<%= moment(todo.todoDate).format('YYYY-MM-DD') %>" class="todoDate datepicker">
        <% } else { %>
          <input type="text" name="todoDate" class="todoDate datepicker">
        <% } %>
        <% if (todo.todoTime != null) { %>
          <input type="time" name="todoTime" value="<%= moment(todo.todoTime).format('hh:mm') %>" class="todoTime">
        <% } else { %>
          <input type="time" name="todoTime" class="todoTime">
        <% } %>
        </div>
        <div>
          <select name="priority" onchange="submit(this.form)">
            <% for (let i = 1; i <= 3; i++) { %>
              <% if (i === todo.priority) { %>
                <option value="<%- i %>" selected><%- i %></option>
              <% } else { %>
                <option value="<%- i %>"><%- i %></option>
              <% } %>
            <% } %>
          </select>
        </div>
      </form>
    <% }); %>
      <form action="/" method="post" class="post-todo">
        <div></div>
        <div><input type="text" name="text" size="42" maxlength="100" required></div>
        <div><input type="text" name="todoDate" class="todoDate datepicker"><input type="time" name="todoTime" class="todoTime"></div>
        <div>
          <select name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      $(function() {
        $('.checkbox').click(
          function() {
            let attr = $(this).parent().attr('action');
            if ($(this).parent().hasClass('checked')) {
              $(this).parent().attr('action', `${attr}/undo`);
              $(this).parent().submit();
            } else {
              $(this).parent().attr('action', `${attr}/done`);
              $(this).parent().submit();
            }
          }
        );

        $('#display-hide-btn').click(
          function() {
            if ($(this).hasClass('display-btn')) {
              $(this).removeClass('display-btn');
              $(this).addClass('hide-btn');
              $(this).text("非表示");
              $('.checked').removeClass('hidden');
            } else {
              $(this).removeClass('hide-btn');
              $(this).addClass('display-btn');
              $(this).text("完了済表示");
              $('.checked').addClass('hidden');
            }
          }
        );

        $("input[name='text']").keydown(function(e) {
          if (e.keyCode == 13) {
            $(this).parent().parent().submit();
          }
        });

        $('.datepicker').datepicker({
          dateFormat: "yy-mm-dd",
        });

        $.datepicker.formatDate("yy-mm-dd");
      });
    </script>
  </body>
</html>
