<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div class="todoList">
      <div class="list-header">
        <div class="list-header-item"></div>
        <div class="list-header-item">やること</div>
        <div class="list-header-item">期限</div>
        <div class="list-header-item">優先度</div>
      </div>
    <% todoList.forEach(function(todo) { %>
      <form action="/<%= todo._id %>" method="post">
        <div class="checkbox"></div>
        <div><input type="text" name="text" value="<%= todo.text %>" size="42" maxlength="100" required></div>
        <div><input type="datetime-local" name="todoDate" value="<%= moment(todo.todoDate).format('YYYY-MM-DDThh:mm') %>"></div>
        <div>
          <select name="priority" onchange="submit(this.form)">
            <% for (let i = 1; i <= 3; i++) { %>
              <% if (i === todo.priority) { %>
                <option value="<%- i %>" selected><%- i %></option>
              <% } else { %>
                <option value="<%- i %>"><%- i %></option>
              <% } %>
            <% } %>
          </select>
        </div>
      </form>
    <% }); %>
      <form action="/" method="post" class="post-todo">
        <div></div>
        <div><input type="text" name="text" size="42" maxlength="100" required></div>
        <div><input type="datetime-local" name="todoDate"></div>
        <div>
          <select name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      $(function() {

      });
    </script>
  </body>
</html>
